.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.text-center {
  text-align: center;
}

.mb-4, .mb-5, .pb-1 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pt-1 {
  padding-top: .25rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.mx-2 {
  margin-right: .5rem !important;
  margin-left: .5rem !important;
}

.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.h-100 {
  height: 100% !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.gradient-form {
  background: #f6f7fb;
}

.gradient-custom-2 {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.gradient-button {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  border: none;
}

.gradient-button:hover {
  background: linear-gradient(to right, #d8363a, #dd3675, #b44593, #ee7724);
}

.custom-outline-button {
  border: 1px solid #dd3675;
  color: #dd3675;
}

.custom-outline-button:hover {
  background: #dd3675;
  color: white;
}
